<!-- Footer Component -->
<footer class="mx-auto px-2 py-10 text-center">
    <div class="flex justify-center gap-1">
        <a href="https://linkedin.com/in/samrudh-yash" 
           class="p-1 hover:text-primary inline-flex items-center text-xs" 
           target="_blank" 
           rel="noopener noreferrer">
            [l] linkedin
        </a>
        <a href="https://x.com/0xVollhard" 
           class="p-1 hover:text-primary inline-flex items-center text-xs" 
           target="_blank" 
           rel="noopener noreferrer">
            [t] twitter
        </a>
        <a href="https://github.com/vollh4rD" 
           class="p-1 hover:text-primary inline-flex items-center text-xs" 
           target="_blank" 
           rel="noopener noreferrer">
            [g] github
        </a>
        <a class="md:hidden p-1 hover:text-primary inline-flex items-center text-xs" 
           href="/blog">
            [b] blog
        </a>
    </div>
</footer>

