<!-- Navigation Header Component -->
<nav class="w-full sticky top-0 z-50 mb-10">
    <div class="container">
        <div class="flex justify-between items-center py-4 sm:py-6">
            <div class="flex items-center">
                <a class="logo" href="/">
                    <span class="text-white text-sm font-bold">samrudh</span>
                </a>
                <div class="flex items-center gap-2 ml-2">
                    <button class="hidden md:flex nav-button" onclick="window.location.href='/beerwise'">
                        [w] beerwise
                    </button>
                    <button class="hidden md:flex nav-button" onclick="window.location.href='/blog'">
                        [b] blog
                    </button>
<!--                     <button class="hidden md:flex nav-button" onclick="window.location.href='/upload'">
                        [u] upload
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</nav>